<?xml version="1.0" encoding="utf-8" ?><configuration><connectionStrings><add
	name="GestaoCuidadorDB"
	providerName="Microsoft.Data.SqlClient"
	
	connectionString="Data Source=DESKTOP-4E7E63J;  
                           Initial Catalog=GestaoCuidador;
                           User ID=sa;
                           Password=Affonso-999;
                           TrustServerCertificate=True;
                           Integrated Security=false" />
</connectionStrings>
</configuration>